.container{
    width-max: 1200px;
}

.fa-certificate{
    font-size: 1.5em;
    color: red;
}

.nbPanier{
    position: relative;
    right: 16px;
    color: white;
}
.navbar-nav>li>a.menu-panier{
    padding-right: 2px;
}


<!--ETOILES DES COMMENTAIRES-->
    ul.notes-echelle {
        margin:0;
        padding:0;
        font:.75em/1.2 Arial, Helvetica, sans-serif;
    }
ul.notes-echelle li {
    float:left;
    margin:0;
    padding:0;
    list-style:none;
}

ul.notes-echelle li label {
    display:block;
    text-align:center;
    line-height:20px;
    background:url('../images/etoiles.gif') center top no-repeat;
    cursor:pointer;
}


ul.notes-echelle li.note-off label {
    background-position:center -60px;
}
ul.notes-echelle li.note-checked {
    font-weight:bold;
}



ul.notes-echelle.js li {
    min-width:20px;
    min-height:20px;
}
ul.notes-echelle.js input {
    position:absolute;
    left:-999%;
}
ul.notes-echelle.js li.note-focus {
    outline:1px dotted #000;
}


<!--SLIDER ACCUEIL-->

    .slideshow {
        width: 350px;
        height: 200px;
        overflow: hidden;
        border: 3px solid #F2F2F2;
    }

.slideshow ul {
    /* 4 images donc 4 x 100% */
    width: 400%;
    height: 200px;
    padding:0; margin:0;
    list-style: none;
}
.slideshow li {
    float: left;
}